<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <img src="assets/img/photo_5120746416346606267_x.jpg" width="150px" height="100%">
    <div class="navbar-burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="home">
        Home
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="">
          Cervezas Artesanales
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="ventas">
            Ventas
          </a>
          <a class="navbar-item" routerLink="administrar">
            Administrar Productos
          </a>
          <a class="navbar-item" href="nosotros">
            Nosotros
          </a>
          <a class="navbar-item" href="contactos">
            Contactos
          </a>
          <a class="navbar-item" href="sesion">
            Sesion
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
