<nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
      </a>
      <div class="navbar-burger" data-target="navbarExampleTransparentExample">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="home">
          Home
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Cervezas Artesanales
          </a>
          <div class="navbar-dropdown is-boxed">
            <a class="navbar-item" href="">
              Precios
            </a>
            <a class="navbar-item" href="https://bulma.io/documentation/overview/modifiers/">
              
            </a>
            <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">
              Catalogo
            </a>
            <a class="navbar-item" href=" ">
              Ofertas
            </a>
            <a class="navbar-item" href=" ">
              Inventario
            </a>
        </div>
      </div>
    </div>
</div>   
