
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Bienvenido a la sección de Contactos
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>¡Hola! ¡Gracias por visitar nuestra página y querer contactarnos! </strong> Estamos encantados de poder ayudarte y responder a todas tus preguntas, comentarios o inquietudes. Aquí te dejamos nuestras diversas formas de contacto y nuestras redes sociales, para que puedas seguirnos y estar al tanto de todas nuestras novedades:

        <br><br>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Redes Sociales
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>Siguenos</strong>
        <ul>
          <li>Facebook: <a href="https://www.facebook.com/oktoberfest/photos/">Facebook</a></li>
          <li>Twitter: <a href="https://twitter.com/madoktoberfest?lang=es">Twitter</a></li>
          <li>Instagram: <a href="https://www.instagram.com/oktoberfest/?hl=es">Instagram</a></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Llamanos
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong></strong> No dudes en escribirnos o llamarnos si necesitas ayuda con cualquier cosa o si simplemente quieres charlar. Estamos aquí para ti. Además, te invitamos a seguirnos en nuestras redes sociales para mantenernos conectados y enterarte de todas las noticias, promociones especiales y eventos que tenemos preparados.

        Esperamos poder comunicarnos contigo pronto. ¡Hasta entonces, que tengas un día increíble!
        Teléfono: [0999999999]
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <p>Derechos de autor &copy; 2023 | Mi Página Web. Todos los derechos reservados.</p>
</div>
