.card-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
}
.card img {
  width: 100px;
  height: 100px;
}
.card {
  width: 250px;
  height: 250px;
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  margin-left: 30px;
}
.card-body {
  display: flex;
  align-items: flex-end;
}
.container{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border-radius: 1px solid lightgrey;
  align-items: center;
  height: 80px;
}

.title {
    color: aliceblue;
    font-size: 30px;
    flex: 1;
}

.navbar-cart {
    flex: 0;
}
.navbar-cart-items{
  position: relative;
  left: 8.5px;
  top: -0.8rem;
  color: white;
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 50%;
  background-color: rgb(172, 14, 14);
  height: 20px;
  width: 20px;
}
.navbar-cart-items p {
  font-size: 0.8rem;
  text-align: center;
}
.cart{
  display: none;
}
.show{
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  position: absolute;
  background-color: white;
  border-radius: 0.5rem;
  border: 1px solid #cc1414;
  right: 0px;
  top: 83px;
  min-width: 40%; 
  margin-top: 115px;
}
.show app-cart{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}

